<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Nagster, <%= @member.name %></h1>
    <p>
      You have successfully signed up to Nagster.com,
    </p>
    <p>
      To login to the site, and let the Nagging begin just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and Nag away!</p>
  </body>
</html>