<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>Fix the following errors:</h2>
    <p> </p>
    <ul>
    <%object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>