    <h1>About Us</h1>
    <p>
      We, The Code Crackers Team, have released many cool apps. We are expanding and looking for code crackers. 
Proficiency in Ruby on Rails is a must to join. Send us an email at thecodecrackers@gmail.com
    </p>
  