<table class="nags" summary="Member nags">
<% @members.each do |member|
   @nags = member.nags.all
   @nags.each do |nag|
    if nag.receiver_id.to_i == current_member.id.to_i %>
      <tr>
        <td class="main">
        <div id="nagContent"><%=  nag.content %> </div>   
        <span id="postedBy"> 
        Nagged by <%= member.name %> 
        <%= time_ago_in_words(nag.created_at) %> ago. </span><br />
      </td>
      </tr>
    <%end%>
  <%end %>
<%  end %>
</table>


