<li>
  <%= gravatar_for member, :size => 30 %>
  <%= link_to member.name, member %>
  
  <% if current_member.admin?  && member != current_member%>
  | <%= link_to "delete", member, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{member.name}" %>
 
  <% end %>
</li>